page-home {
    ion-title {
        text-align: center;
        
    }
   
   
    ion-content {
        background-image: url('../../assets/imgs/bob.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1 {
        text-align: center;
        color: white;
        color: beige;
    }
    h2 {
        text-align: center;
        color: white;
        color: 	rgb(109, 57, 75);
        margin-top: 590px;
    }
    
}